	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Irresistible APIs #irresistibleapis &middot; </title>

	<link rel="canonical" href="http://irresistibleapis.com/book.html">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
	<link rel="stylesheet" href="book.css">
